*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 900px;
}
.produto {
    width: calc(28.28% - 10px);
    height: 408px;
    position: relative;
    left: 0%;
    margin: 3px;
    border-radius: 5px;
}
.produto > h3 {
    font-size: 16px;
}
.produto > p {
    font-size: 13px;
    color: #6C757D;
}
.imagem {
    border: 1px solid red;
    overflow: hidden;
    height: 60%;
}
.product-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas com tamanhos iguais */
    gap: 20px; /* Espaçamento entre os elementos */
  }
  
  .product-card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }
  
  .product-card h2 {
    font-size: 18px;
    margin-top: 10px;
    color: #222529;
    text-decoration: none;
  }
  
  .product-card p {
    font-size: 14px;
    margin-top: 10px;
    color: #222529;
    text-decoration: none;
  }
  
  .product-card p:last-child {
    font-weight: bold;
  }
  a {
    text-decoration: none;
  }

/*PÁGINA DE COMPRA*/

.produtoCard > img {
    box-shadow: -1px -1px 8px black;
    border: 1px solid rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    width: 380px;
    height: 380px;
    position: relative;
    left: 20%;
    overflow: hidden;
}
.text-prod {
    position: relative;
    top: -371px;
    left: 52%;
    width: fit-content;
}
.produtoCard > h2 {
    color: #222529;
    font-size: 30px;
    font-weight: bold;
    width: fit-content;
    position: relative;
    left: 50%;
    top: -375px;
}
.esp-prod {
    width: 400px;
    height: 900px;
    position: relative;
    top: -280px;
    left: 50%;
}
.quant {
    width: 380px;
    height: 380px;
    position: relative;
    top: -1160px;
    left: 75%;
}
.total {
    width: 400px;
    height: 200px;
    position: relative;
    top: -1000px;
    left: 75%;
}
.desc {
    width: fit-content;
    position: absolute;
    top: 120%;
    left: 3%;
}
.desc > h2 {
    text-align: center;
}
.custom-file-input {
    display: block;
    position: relative;
    left: 480px;
    top: -68px;
    display: inline-block;
    overflow: hidden;
    width: 10%;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.404);
    padding: 18px 8px 18px 8px;
    border-radius: 5px;
    font-weight: normal;
}

/* Oculte o texto padrão do input file */
.custom-file-input + label {
    display: inline-block;
    overflow: hidden;
    width: 10%;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    left: 15%;
    top: -98px;
    padding: 18px 8px 18px 8px;
    border-radius: 5px;
    font-weight: normal;
}

/* Quando o input file estiver ativo (foi clicado), estilize o botão */
.custom-file-input:focus + .custom-file-label {
    background-color: #0056b3;
}
.prg {
    width: fit-content;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: 12px;
    left: 24%;
}
/* Estilos para a lista suspensa */
.custom-select {
    margin: 20px 0px 50px 0px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

/* Estilize o rótulo */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Estilize a caixa de seleção quando houver foco (quando o usuário clica nela) */
.custom-select:focus {
    border-color: #F37160;
    outline: none;
    box-shadow: 0 0 5px #F37160;
}

.radio-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="radio"]:checked + label {
    background-color: #F37160;
    color: #fff;
}

/* Estilos para os rótulos de preço */
span {
    font-size: 14px;
    margin-left: 10px;
}
#inp-num {
    width: 60px;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin-left: 5px;
    position: relative;
    top: -27px;
    left: 1395px;
}
.total>label {
    font-weight: lighter;
}
.total > p {
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -60px;
    left: 40%;
}
.total > span {
    position: relative;
    top: -50px;
    left: 30%;
    font-size: 25px;
    color: #F37160;
    font-weight: bold;
}
.addCart {
    padding: 18px 28px 18px 28px;
    background-color: white;
    border: 1px solid #F37160;
    color: #F37160;
    font-weight: bold;
    position: relative;
    top: 31px;
    left: 70%;
    cursor: pointer;
}
.lnk-comp {
    text-decoration: none;
    background-color: #8EC8AA;
    color: green;
    padding: 14px 28px 14px 28px;
    position: relative;
    top: 32px;
    left: 70%;
}
.lb-num {
    position: relative;
    left: 73%;
    top: -25px;
    width: fit-content;
}
#valor {
    color: #F37160;
    font-size: 25px;
    position: relative;
    left: 84%;
    top: 565px;
}
.descProd {
    text-align: center;
    position: relative;
    top: 265px;
}
#desc {
    position: relative;
    top: 964px;
    left: 808px;
    width: fit-content;
}
#carrinho_compras {
    position: absolute;
    top: 178px;
    left: 69%;
}
.lbl-mat {
    font-weight: normal;
    position: relative;
    left: 33px;
    top: -10px;
}
img#img-mat {
    position: relative;
    top: 17px;
}
.lbl-fom {
    font-weight: normal;
    position: relative;
    left: 33px;
    top: -4px;
}
img#img-fom {
    position: relative;
    top: 17px;
}
.lbl-cor {
    font-weight: normal;
    position: relative;
    left: 33px;
    top: -10px;
}
img#img-cor {
    position: relative;
    top: 17px;
}
.lbl-en {
    font-weight: normal;
    position: relative;
    left: 33px;
    top: -10px;
}
img#img-en {
    position: relative;
    top: 17px;
}
.lbl-ac {
    font-weight: normal;
    position: relative;
    left: 33px;
    top: -10px;
}
img#img-ac {
    position: relative;
    top: 17px;
}